In [2]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import OrdinalEncoder,MinMaxScaler,StandardScaler
from sklearn.compose import ColumnTransformer
from sklearn.impute import SimpleImputer
from sklearn.model_selection import StratifiedKFold,cross_val_score
from sklearn.pipeline import Pipeline
from sklearn.decomposition import PCA

In [3]:
data = pd.read_csv('heart_disease_uci.csv', sep=',')
data = data.drop(columns='id')
y = data['num']
X = data.drop(columns='num')
data

,age,sex,dataset,cp,trestbps,chol,fbs,restecg,thalch,exang,oldpeak,slope,ca,thal,num
0,63,Male,Cleveland,typical angina,145.0,233.0,True,lv hypertrophy,150.0,False,2.3,downsloping,0.0,fixed defect,0
1,67,Male,Cleveland,asymptomatic,160.0,286.0,False,lv hypertrophy,108.0,True,1.5,flat,3.0,normal,2
2,67,Male,Cleveland,asymptomatic,120.0,229.0,False,lv hypertrophy,129.0,True,2.6,flat,2.0,reversable defect,1
3,37,Male,Cleveland,non-anginal,130.0,250.0,False,normal,187.0,False,3.5,downsloping,0.0,normal,0
4,41,Female,Cleveland,atypical angina,130.0,204.0,False,lv hypertrophy,172.0,False,1.4,upsloping,0.0,normal,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
915,54,Female,VA Long Beach,asymptomatic,127.0,333.0,True,st-t abnormality,154.0,False,0.0,NaN,NaN,NaN,1
916,62,Male,VA Long Beach,typical angina,NaN,139.0,False,st-t abnormality,NaN,NaN,NaN,NaN,NaN,NaN,0
917,55,Male,VA Long Beach,asymptomatic,122.0,223.0,True,st-t abnormality,100.0,False,0.0,NaN,NaN,fixed defect,2
918,58,Male,VA Long Beach,asymptomatic,NaN,385.0,True,lv hypertrophy,NaN,NaN,NaN,NaN,NaN,NaN,0
919,62,Male,VA Long Beach,atypical angina,120.0,254.0,False,lv hypertrophy,93.0,True,0.0,NaN,NaN,NaN,1

In [4]:
transformer = ColumnTransformer(transformers=[('encoder', OrdinalEncoder(), ('sex','dataset','cp','restecg','slope','thal'))], remainder='passthrough')

X_enc = transformer.fit_transform(X)
X_enc

array([[1.0, 0.0, 3.0, ..., False, 2.3, 0.0],
       [1.0, 0.0, 0.0, ..., True, 1.5, 3.0],
       [1.0, 0.0, 0.0, ..., True, 2.6, 2.0],
       ...,
       [1.0, 3.0, 0.0, ..., False, 0.0, nan],
       [1.0, 3.0, 0.0, ..., nan, nan, nan],
       [1.0, 3.0, 1.0, ..., True, 0.0, nan]],
      shape=(920, 14), dtype=object)

In [5]:
imp = SimpleImputer(missing_values=np.nan, strategy='mean')
X_imp = imp.fit_transform(X_enc)
X_imp

array([[1.        , 0.        , 3.        , ..., 0.        , 2.3       ,
        0.        ],
       [1.        , 0.        , 0.        , ..., 1.        , 1.5       ,
        3.        ],
       [1.        , 0.        , 0.        , ..., 1.        , 2.6       ,
        2.        ],
       ...,
       [1.        , 3.        , 0.        , ..., 0.        , 0.        ,
        0.6763754 ],
       [1.        , 3.        , 0.        , ..., 0.38959538, 0.87878788,
        0.6763754 ],
       [1.        , 3.        , 1.        , ..., 1.        , 0.        ,
        0.6763754 ]], shape=(920, 14))